name: transmission-mcp

x-dns: &default-dns
  dns:
    - 9.9.9.9
    - 149.112.112.112
    - 2620:fe::fe
    - 2620:fe::9

x-logging: &default-logging
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  transmission-mcp:
    container_name: transmission-mcp
    build: .
    image: transmission-mcp
    restart: unless-stopped
    ports:
      - 8000:8000
    env_file:
      - .env
    volumes:
      - torrents:/torrents
    <<: [ *default-logging ]
    network_mode: host

  transmission:
    container_name: transmission
    image: lscr.io/linuxserver/transmission:latest
    restart: unless-stopped
    #ports: # Not needed on host
    #  - 9091:9091 # Web UI port
    #  - 51413:51413 # Torrent port (TCP)
    #  - 51413:51413/udp # Torrent port (UDP)
    env_file:
      - .env
    environment:
      - USER=${TRANSMISSION_USER:-}
      - PASS=${TRANSMISSION_PASS:-}
      - DOCKER_MODS=linuxserver/mods:transmission-floodui|linuxserver/mods:transmission-transmissionic
    volumes:
      - transmission_config:/config
      - transmission_watch:/watch # change /watch to your watch directory
      - /media:/downloads # change /media to your download directory
    <<: [ *default-dns, *default-logging ]
    network_mode: host # required for UPnP
    deploy:
      replicas: ${ONLY_MCP:+0}

volumes:
  torrents:
  transmission_config:
  transmission_watch:
